# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore system files
.DS_Store

# Ignore keys and sensitive information
*.pem
*.key
*.crt

# Ignore environment variable files
.env
